body{
    margin:0;
    font-family:"Saira",sans-serif;
} 
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(27,30,33);
    color:white;
    padding:15px 30px;
}
.nav-links{
    list-sytle:none;
    display: flex;
    gap: 25px;
    margin:0;
    padding:0;
}
.nav-links a{
    color:white;
    text-decoration:none;

}.nav-links a:hover{
    color:orange;
    text-decoration:underline;
}
.logo{
    font-weight:800;
    font-size:20px;
    color:orange;
}