body{
   margin:0;
   font-family: "Saira", san-serif;
}

header{
   position: fixed;
   width: 100%;
   z-index: 5;
   background-color:#87CEEB;
}
.header .navbar{
   display:flex;
   justify-content: space-between;
   align-items:center;
   background-color: #87CEEB;
   color:white;
   padding: 20px;
}
.navbar .nav-menu{
   list-style:none;
   display:flex;
   gap: 10px;
}
.navbar .nav-menu .nav-link{
   color:white;
   text-decoration: none;
}
.nav-links a:hover{
   color:orange;
   text-decoration:underline;
}
.logo{
   font-weight:800;
   font-size: 20px;
   color:orange;
}